*{margin: 0; padding: 0; box-sizing: border-box; color: white;}
body{
    height: 100vh;
    width: 100%;
}

@font-face {
  font-family: bigshoulder;
  src: url(fonts/BigShouldersDisplay-VariableFont_wght.ttf);
  font-weight: 700;
}

@font-face {
  font-family: lexenda;
  src: url(fonts/LexendDeca-VariableFont_wght.ttf);
  font-weight: 400;
}

:root{
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
  --max-width: 1440px;
}

.flex{
  display: flex;
}

.flex-column{
    flex-direction: column;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, calc(70%/ 3));
  place-content: center;
  height: 100vh;
  width: 100%;
}

.sedan, .suv, .luxury{
  line-height: 1.5rem;
  padding: 2rem;
  gap: 2.5rem; 
}

.title{
  font-size: 2rem;
  font-family: bigshoulder;
}

.descript{
  font-family: lexenda;
  line-height: 1.5em;
  font-size: 1.25em;
  color: var(--Transparent-white);
}

.button{
  background-color: var(--Very-light-gray);
  font-family: lexenda;
  font-size: 0.7em;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 50px;
  margin-top: 2em;
  text-decoration: none;
}

.sedan{
  background-color: var(--Bright-orange);
  border-radius: 10px 0 0 10px;
}

.sedan .button{
  color: var(--Bright-orange);
}

.suv{
  background-color: var(--Dark-cyan);
}

.suv .button{
  color: var(--Dark-cyan);
}

.luxury{
  background-color: var(--Very-dark-cyan);
  border-radius: 0 10px 10px 0;
}

.luxury .button{
  color: var(--Very-dark-cyan);
}

@media only screen and (max-width:375px) {
  
}

@media only screen and (max-width:375px) {
  .container{
    padding: 30px 0;
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 1fr);
    height: fit-content;
  }

  .button{
    margin: 0;
  }

  .sedan{
    background-color: var(--Bright-orange);
    border-radius: 10px 10px 0 0;
  }

  .luxury{
    background-color: var(--Very-dark-cyan);
    border-radius: 0 0 10px 10px;
  }

}